{% extends 'admin/index.html.twig' %}

{% block body %}
    <div class="col-12 col-md-10 text-center">
        <h1 class="mb-5">Liste des projets</h1>

        <div class="text-right">
            <a href="{{ path('project_new') }}">
                <button type="submit" class="btn btn-light my-3">Ajouter un projet</button>
            </a>
        </div>

            <table class="table">
                <thead>
                <tr>
                    <th class="col-6">Nom du projet</th>
                    <th class="col-6">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for projet in project %}
                <tr>
                    <th scope="row">{{ projet.nom }}</th>
                    <td class="pt-3 d-md-none ">
                        <div class="d-flex justify-content-around">
                            <i class="fas fa-search fa-lg"></i>
                            <i class="fas fa-edit fa-lg"></i>
                            <i class="fas fa-trash-alt fa-lg"></i>
                        </div>
                    </td>
                    <td class="d-none d-md-block">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <a class="btn btn-secondary" href="{{ path('project_show', {'id' : projet.id }) }}">Voir</a>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Modifier
                            </label>
                            <label class="btn btn-danger">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Supprimer
                            </label>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

    </div>
{% endblock %}
