{% extends 'admin/index.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <div class="col-12 col-md-10 text-center">
        <h1 class="mb-5">Ajouter un participant</h1>
        <div class="col-12 col-md-8 color_div mx-auto rounded p-2">
            <form>
                <div class="form-group row">
                    <label for="nom" class="col-sm-3 col-form-label mx-auto">Nom:</label>
                    <div class="col-sm-8 mx-auto">
                        <input type="text" class="form-control" id="nom" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="prenom" class="col-sm-3 col-form-label mx-auto">Prénom:</label>
                    <div class="col-sm-8 mx-auto">
                        <input type="text" class="form-control" id="prenom" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-3 col-form-label mx-auto">Email:</label>
                    <div class="col-sm-8 mx-auto">
                        <input type="email" class="form-control" id="email" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label mx-auto">Mot de passe:</label>
                    <div class="col-sm-8 mx-auto">
                        <input type="password" class="form-control" id="password" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="role" class="col-sm-3 col-form-label mx-auto">Role:</label>
                    <div class="col-sm-8 mx-auto">
                        <select class="form-control form-control-md" id="role">
                            <option>ROLE_USER</option>
                            <option>ROLE_ADMIN</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <button type="button" class="btn btn-light mt-3">Modifier</button>
    </div>
{% endblock %}
