<header>
    <div class="row container-fluid">
        <div class="col-8 col-md-2">
            <a href="{{ path('admin_index') }}"><img src="{{ asset('assets/img/ManageProject.png') }}" alt=""></a>
        </div>
        <div class="d-none d-md-block col-md-8">

        </div>
        <div class="col-4 col-md-2 align-self-center text-right">
            <button type="button" class="btn-sm btn-outline-dark ml-3">Connexion</button>
        </div>
    </div>
</header>
