{% if app.user.role != "ROLE_USER" %}
<div class="d-none d-md-block col-md-2 backgroundMenu text-center">
        <ol class="liste p-0 mt-3">
            <li><a class="lien" href="{{ path('project_index') }}">- Gestion des projets</a></li>
            <li class="mt-3"><a class="lien" href="{{ path('admin_index') }}">- Gestion des participants</a></li>
        </ol>
</div>
    {% else %}
        <div class="d-none d-md-block col-md-2 backgroundMenu text-center">
            <ol class="liste p-0 mt-3">
                <li><a class="lien" href="{{ path('project_index') }}">- Voir les projets</a></li>
            </ol>
        </div>
{% endif %}
